body {
    background-color: whitesmoke;
}

select {
    /* display: block; */
    width: 100%;
    padding: 8px;
    color: #8e979f;
    outline: none;
}

div#viz-yr-1 {
    width: 100%;
    position: inherited;
    height: 400px;
    margin:10px;
    padding:10px; 
    border: 1px solid black;
    border-radius: 8px;
}

div#viz-yr-2 {
    width: 100%;
    position: inherited;
    height: 400px;
    margin:10px;
    padding:10px; 
    border: 1px solid black;
    border-radius: 8px;
}