<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adventurously - Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/metricsgraphics.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top px-5">

            <a class="navbar-brand" href="index.html">
                <div id="site-head-container">
                    <img id="site-head-image" src="../static/images/logo-transparent.png" height="40px" alt="">
                    <h6 id="site-title">ADVENTUROUSLY</h6>
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Data</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                            <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" target="_blank"
                                    href="https://www.nationalgeographic.com/environment/global-warming/global-warming-overview/">Global
                                    Warming</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://climate.nasa.gov/evidence/">Evidence</a>
                                <a class="dropdown-item" target="_blank" href="https://climate.nasa.gov/fun-facts/">Fun
                                    Facts</a>
                                <a class="dropdown-item" target="_blank"
                                    href="https://climate.nasa.gov/solutions/resources/">Solutions</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/apidocs" target="_blank"><span class="badge badge-dark">API
                                1.0.0</span></a>
                    </li>
                </ul>
            </div>

        </nav>

    </div>

    <div class="container-fluid" style="padding-top: 70px">
        <!-- Begin unique pages -->

        <div class="row mx-md-4">
            <div class="card bg-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2>Historical Average State Temperatures</h2>
                            <hr>
                            <div id="map"></div>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="mapYearRange" id="mapYearLabel">Year: 2018</label>
                                    <input type="range" min="1923" max="2018" value="2018" class="form-control-range" id="mapYearRange">
                                    <a class="float-left">1923</a><a class="float-right">2018</a>
                                    <br>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2>Compare data from two states:</h2>
                        </div>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="state1">Select a State</label>
                                <br>
                                <select id="state1">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="state2">Select another State</label>
                                <br>
                                <select id="state2">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <div class="btn-group p-2">
                                    <button id="filter-btn" type="submit"
                                        class="btn btn-secondary border-dark">Compare</button>
                                    <button id="reset-btn" type="reset"
                                        class="btn btn-secondary border-dark">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <hr>
                            <h3 id='compare-temp-heading'>Temperature</h3>
                            <div id="viz-1"></div>
                            <hr>
                            <h3>Average Temperature</h3>
                            <div id="viz-2"></div>
                            <hr>
                            <h3>Precipitation</h3>
                            <div id="viz-3"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h2>Compare data for two years:</h2>
                        </div>
                    </div>

                    <form>
                        <div class="row">
                            <!-- <div class="col-lg-1"></div> -->
                            <div class="col-lg-3">
                                <label for="year1">Select a Year</label>
                                <br>
                                <select id="year1">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="year2">Select another Year</label>
                                <br>
                                <select id="year2">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <div class="btn-group p-2">
                                    <button id="filter-btn-yr" type="submit"
                                        class="btn btn-secondary border-dark">Compare</button>
                                    <button id="reset-btn-yr" type="reset"
                                        class="btn btn-secondary border-dark">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="row mb-6">
                        <div id="c-viz-yr-1" class="col-md-6 col-sm-6 col-xs-12">
                            <div id="viz-yr-1"></div>
                        </div>
                        <div id="c-viz-yr-2" class="col-md-6 col-sm-6 col-xs-12">
                            <div id="viz-yr-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 bg-white rounded-lg p3">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script type="text/javascript" src="static/js/metricsgraphics.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <!-- Leaflet.js -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script> -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/leaflet-heat.js"></script>
    <script type="text/javascript" src="static/js/compare.js"></script>
    <script type="text/javascript" src="static/js/statesData.js"></script>
    <script type="text/javascript" src="static/js/stateTemps.js"></script>
</body>

<div class="bottom bg-secondary">
    <footer class="footer-copyright bg-secondary pt-1" style="height: 45px">
        <p class="text-light text-center"><small>© Team Adventurously@Data Bootcamp - University of Minnesota, All
                Rights Reserved 2019</small></p>
    </footer>
</div>

</html>